@import '../utils/breakpoints.scss';

@mixin base {
    font-family: var(--main-font);
}

@mixin text-h1 {
    @include base;
    font-size: 7rem;
    line-height: 90%;
    font-weight: 450;

    @include tablet {
        font-size: 4.5rem;
    }

    @include mobile {
        font-size: 3.5rem;
        line-height: 4.0rem;
    }
}

@mixin text-h2 {
    @include base;
    font-size: 4.0rem;
    line-height: 4.8rem;
    font-weight: 450;

    @include tablet {
        font-size: 2rem;
    }

    @include mobile {
        font-size: 2.4rem;
        line-height: 2.8rem;
    }
}

@mixin text-h3 {
    @include base;
    font-size: 2.4rem;
    line-height: 100%;
    font-weight: 450;

    @include tablet {
        font-size: 2rem;
    }

    @include mobile {
        font-size: 1.6rem;
    }
}

@mixin text-h4 {
    @include base;
    font-size: 2.2rem;
    line-height: 3.0rem;
    font-weight: 700;

    @include mobile {
        font-size: 1.8rem;
        line-height: 2.6rem;
    }
}

@mixin text-logo {
    @include base;
    font-size: 12rem;
    font-weight: 700;

    @include tablet {
        font-size: 7.5rem;
    }

    @include mobile {
        font-size: 3.2rem;
    }
}


@mixin text-accent {
    @include base;
    font-size: 2.4rem;
    line-height: 3.2rem;
    font-weight: 400;

    @include mobile {
        font-size: 2.0rem;
        line-height: 2.8rem;
    }
}

@mixin text-large {
    @include base;
    font-size: 9.6rem;
    line-height: 10.4rem;
    font-weight: 700;

    @include mobile {
        font-size: 5.6rem;
        line-height: 6.2rem;
    }
}

@mixin text-button {
    @include base;
    font-size: 1.6rem;
    line-height: 2.4rem;
    font-weight: 500;

     @include tablet {
        font-size: 1.4rem;
        line-height: 2.2rem;
    }

    @include mobile {
        font-size: 1rem;
        line-height: 1.2rem;
    }
}

@mixin text-tab {
    @include base;
    font-size: 1.8rem;
    line-height: 2.4rem;
    font-weight: 500;

    @include mobile {
        font-size: 1.8rem;
        line-height: 2.4rem;
    }
}

@mixin text-body {
    @include base;
    font-size: 2.4rem;
    line-height: 115%;
    font-weight: 450;

    @include tablet {
        font-size: 1.8rem;
    }

    @include mobile {
        font-size: 1.4rem;
    }
}

@mixin text-bold {
    @include base;
    font-size: 3.2rem;
    line-height: 100%;
    font-weight: 600;

    @include mobile {
        font-size: 1.8rem;
    }
}

@mixin text-sm {
    @include base;
    font-size: 1.4rem;
    line-height: 2.0rem;
    font-weight: 400;

    @include mobile {
        font-size: 1.2rem;
        line-height: 1.8rem;
    }
}

@mixin text-sm-bold {
    @include base;
    font-size: 1.4rem;
    line-height: 2.0rem;
    font-weight: 600;

    @include mobile {
        font-size: 1.2rem;
        line-height: 1.8rem;
    }
}

@mixin text-caption {
    @include base;
    font-size: 1.2rem;
    line-height: 1.6rem;
    font-weight: 500;

    @include mobile {
        font-size: 1.0rem;
        line-height: 1.2rem;
    }
}