@import '../../styles/global/colors.scss';

.solution {
    padding: 10rem 4rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 5rem;
    background: $light;

    @include tablet {
        padding: 3rem;
    }

    @include mobile {
        padding: 2rem;
        padding-bottom: 4rem;
        gap: 2rem;
    }

    &__grid {
        display: grid;
        justify-items: center;
        grid-template-columns: repeat(auto-fill, 1fr);
        gap: 5rem;
    }

    &__item {
        width: 100%;
        display: flex;
        flex-direction: column;
        position: relative;
        padding-left: 6rem;

        h3 {
            font-size: 3.6rem;
            z-index: 2;
            background: $light-translucent;
            padding-left: 1rem;

            @include mobile {
                font-size: 2.2rem;
            }
        }

        .solution__number {
            @include text-bold;
            position: absolute;
            left: 0;
            font-size: 10rem;
            color: $gray-medium;
            z-index: 1;
            transition: all 0.5s ease
        }

        p {
            @include text-body;
            z-index: 2;
            background: $light-translucent;
            padding-left: 1rem;
        }
    }
}