@import '../../styles/global/colors.scss';

.struggle {
    display: flex;
    flex-direction: column;
    padding: 5rem 4rem;
    gap: 5rem;
    background: $light;

    @include mobile {
        padding: 2rem;
    }

    @include tablet {
        padding: 3rem;
    }

    &__text {
        display: flex;
        gap: 13rem;

        h2 {
            min-width: 44rem;

            @include tablet {
                min-width: auto;
            }
        }

        &-title {
            @include text-body;
        }

        @include tablet {
            flex-direction: column;
            gap: 2rem;
        }
    }

    &__images {
        display: flex;
        justify-content: space-between;

        img {
            display: block;
            flex: 1;
            width: calc(100% / 3);

            @include tablet {
                max-width: 20rem;
            }

            @include mobile {
                max-width: 10rem;
            }
        }
    }
}