@import '../../styles/global/colors.scss';

.struggle {
    display: flex;
    flex-direction: column;
    padding: 5rem 4rem;
    gap: 5rem;
    background: $light;

    &__text {
        display: flex;
        gap: 13rem;

        h2 {
            min-width: 44rem;

            @include tablet {
                min-width: 35rem;
            }
        }

        &-title {
            @include text-body;
        }
    }

    &__images {
        display: flex;
        gap: 3rem;
        justify-content: space-between;

        @include tablet {
            gap: 1rem;
        }

        img {
            display: block;
            flex: 1;

            @include tablet {
                max-width: 20rem;
            }

            @include mobile {
                max-width: 10rem;
            }

            width: 42rem;
        }
    }
}