@import '../../styles/global/colors.scss';

.hope {
    background: $secondary;
    height: 81rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s ease;

    @include mobile {
        padding: 2rem;
    }
    
    @include tablet {
        padding: 3rem;
    }

    &__title {
        position: relative;
    }

    @include tablet {
        height: 45.5rem;
    }

    &__title::after {
        content: '';
        display: block;
        width: calc(0.1 * 100vw);
        height: 1px;
        background: $dark;
        position: absolute;
        right: -20rem;
        top: calc(50% + 1px);

        @include tablet {
            width: 10rem;
            right: -14rem;
        }

        @include mobile {
            display: none;
        }
    }

    &__title::before {
        content: '';
        display: block;
        width: calc(0.1 * 100vw);
        height: 1px;
        background: $dark;
        position: absolute;
        left: -20rem;
        top: calc(50% + 1px);

        @include tablet {
            width: 10rem;
            left: -14rem;
        }

        @include mobile {
            display: none;
        }
    }

    &:hover {
        background: $accent;
    }
}