.results {
    background: $gray-light;
    padding: 10rem 4rem;
    display: flex;
    flex-direction: column;
    gap: 7rem;
    align-items: center;

    @include mobile {
        padding: 2rem;
        gap: 2rem;
    }

    @include tablet {
        padding: 3rem;
    }

    &__grid {
        display: grid;
        width: 100%;
        grid-template-columns: repeat(auto-fit, minmax(250px, 300px));
        gap: 5rem 12rem;
        justify-content: center;
        justify-items: start;

        

        @include tablet {
            grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
            max-width: 80rem;
            gap: 5rem 8rem;
        }
        
        @include mobile {
            gap: 2rem;
        }
    }

    &__number {
        @include text-body;
        font-size: 10.5rem;

        @include tablet {
            font-size: 10rem;
        }

        @include mobile {
            font-size: 6.4rem;
        }

    }

    &__label,
    &__text {
        @include text-body;
    }

    &__cta {
        display: flex;

        button {
            width: 30rem;
        }

        @include mobile {
            flex-direction: column;
            gap: 1rem;
        }
    }
}