@import '../../styles/global/colors.scss';

.cases {
    padding: 4rem;
    display: flex;
    flex-direction: column;
    gap: 5rem;
    overflow: hidden;

    @include tablet {
        padding: 3rem;
    }
    
    @include mobile {
        padding: 2rem;
    }

    &__badge {
        @include text-body;
    }

    &__photo {
        width: 40%;
        min-width: 35rem;
        height: 60rem;

        img {
            object-fit: cover;
            width: 35rem;
            height: 100%;

            @include tablet {
                width: 20rem;
            }
        }

        @include tablet {
            height: 100%;
        }
    }

    .swiper-slide {
        width: 100%;
        display: flex;
    }

    &__slider {
        width: 100%;
        margin: 0 auto;

        .cases__slide--accent {
            background: $accent;
        }

        .cases__slide--gray {
            background: $gray-medium;
        }

        .cases__slide-container {
            display: flex;
            width: 100%;
            margin: 0 auto;
        }

        .cases__slide {
            display: flex;
            flex-direction: column;
            gap: 2rem;
            justify-content: space-between;
            min-height: 60rem;
            padding: 4rem 4rem 4rem 10rem;
            max-width: 80rem;
            width: 60%;

            @include tablet {
                padding-left: 5rem;
                gap: 2rem;
                justify-content: center;
                min-height: 45rem;
                height: 50rem;
            }

            @include mobile {
                padding: 2rem;
                gap: 1rem;
                justify-content: center;
                min-height: 20rem;
                height: 25rem;
            }

            .cases__badge {
                color: $dark;
            }

            .cases__slide-title {
                @include text-bold;

                @include tablet {
                    font-size: 2.2rem;
                }

                @include mobile {
                    font-size: 1.2rem;
                }
            }

            .cases__slide-text {
                @include text-body;

                @include tablet {
                    font-size: 1.6rem;
                }

                @include mobile {
                    font-size: 0.8rem;
                }
            }

            button {
                width: 45rem;

                @include tablet {
                    width: 25rem;
                }

                @include mobile {
                    width: 15rem;
                    // padding: 1rem;
                }
            }

            .cases__results {
                @include text-body;
                display: flex;
                flex-direction: column;
                gap: 0.5rem;

                @include tablet {
                    font-size: 1.6rem;
                }

                @include mobile {
                    font-size: 0.8rem;
                }
            }
        }
    }

    .cases__controls {
        display: flex;
        gap: 1rem;
        justify-content: flex-end;
    }

    button.cases__nav {
        border: 1px $dark solid;
    }

    .cases__nav {
        width: 4rem;
        height: 4rem;
        padding: 1rem;
        border: none;
        background: url('../../../../public/images/arrow.png') no-repeat center, transparent;
        cursor: pointer;

        @include tablet {
            width: 3rem;
            height: 3rem;
        }

        @include mobile {
            width: 2rem;
            height: 2rem;
        }
    }

    .cases__nav--prev {
        transform: scaleX(-1);
    }
}