@import '../../styles/global/colors.scss';

.cases {
    padding: 4rem;
    display: flex;
    flex-direction: column;
    gap: 5rem;
    overflow: hidden;

    @include mobile {
        padding: 2rem;
    }

    @include tablet {
        padding: 3rem;
    }

    &__badge {
        @include text-body;
    }

    &__photo {
         width: 40%;
        min-width: 35rem;
        height: 60rem;

        img {
            object-fit: cover;
            width: 35rem;
            height: 100%;
        }
    }

    .swiper-slide {
        width: 100%;
        display: flex;
    }

    &__slider {
        width: 100%;
        margin: 0 auto;

        .cases__slide--accent {
            background: $accent;
        }

        .cases__slide--gray {
            background: $gray-medium;
        }

        .cases__slide-container {
            display: flex;
            width: 100%;
            margin: 0 auto;
        }

        .cases__slide {
            display: flex;
            flex-direction: column;
            gap: 2rem;
            justify-content: space-between;
            min-height: 60rem;
            padding: 4rem 4rem 4rem 10rem;
            max-width: 80rem;
            width: 60%;

            .cases__badge {
                color: $dark;
            }

            .cases__slide-title {
                @include text-bold;
            }

            .cases__slide-text {
                @include text-body;
            }

            button {
                width: 45rem;
            }

            .cases__results {
                @include text-body;
                display: flex;
                flex-direction: column;
                gap: 0.5rem;
            }
        }
    }

    .cases__controls {
        display: flex;
        gap: 1rem;
        justify-content: flex-end;
    }

    button.cases__nav {
        border: 1px $dark solid;
    }

    .cases__nav {
        width: 4rem;
        height: 4rem;
        padding: 1rem;
        border: none;
        background: url('../../../../public/images/arrow.png') no-repeat center, transparent;
        cursor: pointer;
    }

    .cases__nav--prev {
        transform: scaleX(-1);
    }
}