@import '../../styles/global/colors.scss';


.footer {
    display: flex;
    flex-direction: column;
    background: $dark;
    gap: 4rem;
    padding: 4rem;
    text-decoration: none;
    position: relative;

    @include mobile {
        padding: 2rem;
    }

    @include tablet {
        padding: 3rem;
    }

    &__nav {
        @include text-body;
        display: flex;
        flex-direction: column;
        gap: 2rem;

        li a {
            color: $text-light;
        }

    }

    &__contacts li a {
        @include text-bold;
        color: $primary;
    }

    &__socials {
        @include text-body;
        display: flex;
        flex-direction: column;
        gap: 1rem;

        a {
            color: $text-light;
            cursor: pointer;
        }
    }

    &__bottom {
        @include text-sm;
        color: $text-light;
        display: flex;
        justify-content: space-between;

        a {
            color: $text-light;
            cursor: pointer;
        }
    }

}

.geometric-container{
    position: absolute;
    right: 5rem;
}

.cube {
    stroke: black;
    stroke-width: 2;
    fill: none;
}