// main
$primary: #7B8DE6;
$secondary: #D0D5E0;
$accent: #D4F7A6;

// neutral
$dark: #1A1D28;
$light: #F8F9FC;
$light-translucent: #f8f9fc44;
$gray-medium: #A8B1C2;
$gray-translucent: #A8B1C244;
$gray-light: #E6EBF5;

// text
$text-dark: #000;
$text-light: #fff;

