@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');
@import '../utils/breakpoints.scss';
@import '../utils/typography.scss';

h1,
.text-h1 {
    @include text-h1;
}

h2,
.text-h2 {
    @include text-h2;
}

h3,
.text-h3 {
    @include text-h3;
}

h4,
.text-h4 {
    @include text-h4;
}

.text-accent {
    @include text-accent;
}

.text-large {
    @include text-large
}

.text-button {
    @include text-button
}

.text-tab {
    @include text-tab
}

.text-body {
    @include text-body
}

.text-bold {
    @include text-bold
}

.text-sm {
    @include text-sm
}

.text-sm-bold {
    @include text-sm-bold
}

.text-caption {
    @include text-caption
}
