@import '../../styles/global/colors.scss';

.hero {
    background: $primary;
    color: $text-dark;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 4rem;
    gap: 5rem;
    height: 100vh;
    position: sticky;
    
    @include mobile {
        gap: 2rem;
        padding: 2rem;
    }

    @include tablet {
        padding: 3rem;
        gap: 3.5rem;
    }


    &__title {
        @include text-body;
        width: 25rem;
    }

    &__descr {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        gap: 5rem;
    }

    &__logo {
        display: flex;
        gap: 1.5rem;
        align-items: center;

        &-img {
            width: 10rem;
            height: fit-content;
            background-size: cover;

            @include tablet {
                width: 5rem;
                height: 5rem;
            }

            @include mobile {
                width: 2rem;
                height: 2rem;
            }
        }

        &-title {
            @include text-logo;
        }
    }

    &__buttons {
        display: flex;
        justify-content: space-between;

        &-sound {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 2.6rem;
            max-width: 5.2rem;
            max-height: 5.2rem;
            
            @include tablet {
                max-width: 3.2rem;
                max-height: 3.2rem;
                padding: 2rem;
            }

            @include mobile {
                max-width: 2.8rem;
                max-height: 2.8rem;
                padding: 1.6rem;
            }

            img {
                max-width: 2.6rem;
                height: 2.6rem;

                @include tablet {
                    max-width: 1.6rem;
                    height: 1.6rem;
                }

                @include mobile {
                    max-width: 1.2rem;
                    height: 1.2rem;
                }
            }            
        }
    }
}