@import './global/base.scss';
// @import '~normalize.css/normalize.css';
@import './global/reset.scss';
@import './global/typography.scss';
@import './global/colors.scss';

@import './utils/breakpoints.scss';
@import './utils/typography.scss';

@import '../components/Button/Button.module.scss';
@import '../components/Hero/Hero.scss';
@import '../components/Problems/Problems.scss';
@import '../components/Struggle/Struggle.scss';
@import '../components/Hope/Hope.scss';
@import '../components/Solution/Solution.scss';
@import '../components/Results/Results.scss';
@import '../components/Process/Process.scss';
@import '../components/Team/Team.scss';
@import '../components/Footer/Footer.scss';
@import '../components/Cases/Cases.scss';
@import '../components/ContactForm/ContactForm.scss';

main {
    overflow: hidden;
}