@import '../../styles/global/colors.scss';

.problems {
    width: 100%;
    background: $light;
    padding: 10rem 4rem;
    display: flex;
    gap: 15rem;

    &__text {
        width: 44rem;

        &-span {
            @include text-h2;
            color: $gray-medium;
        }
    }

    &__list {
        @include text-body;
        list-style-type: circle;
        width: 44rem;
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }
}